<?xml version="1.0" encoding="UTF-8"?>
<!-- springMVC配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	<!-- 对指定包中所有类进行扫描，完成bean的创建和自动依赖注入功能 -->
	<context:component-scan base-package="controller" ></context:component-scan>

	<mvc:annotation-driven />
	<!-- 对模型视图名称进行解析，在模型视图名称上添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/webs/" p:suffix=".jsp"></bean>

	<!-- 这个default-servlet-handler 可以使用DispatcherServlet的url-pattern
		是/*, 如果springmvc找不到handler来处理请求, 会自动放过,让serlvet container处理
	 -->
	<mvc:default-servlet-handler/>
	<!-- 该tag方便请求根view，这个view一般是静态的 -->
	<mvc:view-controller path="/about" view-name="ablot"/>
	<!-- 这个tag是方便重定向路径 -->
	<mvc:resources location="/media/**" mapping="/media/"/>
	<beans:bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"
		p:defaultErrorView="common/error">
		<beans:property name="exceptionMappings">
			<beans:props>
				<beans:prop key="java.lang.RuntimeException">common/error</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>
</beans>